<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      
  
      <p>{{aim}}</p>
      
  
      <!-- Login Form -->
      <form (ngSubmit)="login()" [formGroup]="loginform">
        <input type="text"  class="fadeIn second" [value]="accno" formControlName="accno" name="login" placeholder="login">
        <div class="errors" *ngIf="(loginform.get('accno')?.touched || loginform.get('accno')?.dirty) && loginform.get('accno')?.errors">invalid account number</div>

        <input type="text"  class="fadeIn third" name="login" formControlName="pswd"  placeholder="password">
        <div class="errors" *ngIf="(loginform.get('pswd')?.touched || loginform.get('pswd')?.dirty) && loginform.get('pswd')?.errors">invalid Passowrd</div>

        <input type="submit" class="fadeIn fourth"  value="Log In">
        <input type="button" class="fadeIn fourth" (click)="createNewAccount()"  value="Create New Account">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>