<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      
  
      <p>Register</p>
      
  
      <!-- Login Form -->
      <form>
        <input type="text" id="uname" class="fadeIn second" [value]="uname" [(ngModel)]="uname" name="login" placeholder="user name">
        <input type="text" id="login" class="fadeIn second" [value]="accno" [(ngModel)]="accno" name="login" placeholder="account number">
        <input type="text" id="password" class="fadeIn third" name="login" [(ngModel)]="pswd"  placeholder="password">
        
        <input type="button" class="fadeIn fourth" (click)="register()"  value="Create New Account">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>