<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      
  
      <p>Register</p>
      
  
      <!-- Login Form -->
      <form (ngSubmit)="register()">
        <input type="text" id="uname" class="fadeIn second" [value]="uname" [(ngModel)]="uname" name="login" placeholder="user name">
        <input type="text" id="login" class="fadeIn second" [value]="accno" [(ngModel)]="accno" name="login" placeholder="account number">
        <input type="text" id="password" class="fadeIn third"  [(ngModel)]="pswd" name="login" placeholder="password">
        
        <input type="submit" class="fadeIn fourth"   value="Create New Account">
        <a routerLink="">log in</a>
      </form>
  
      
      
  
    </div>
  </div>